<body class = "search_css">
<% if @dishes.blank? %>
<div class="find3">Sorry ! Your search did not return any results</div>
<div style= "padding: 40px 0px 0px 80px">
<%= link_to "Search again",rate_path, class: "btn btn-default btn-danger"  %>
</div>
<% else %>
<table class="table table-hover">

  <thead >
    <tr>
      <th colspan="2"></th>
      <th><h2>Dish</h2></th>
      <th><h2>Restaurant</h2></th>
    </tr>
  </thead>

  <tbody>
<% @dishes.each do |dish| %>
<tr>
  <% if dish.image.present? %>
<td><p class="extra"><%= image_tag dish.image.url(:thumb) %></p><td></br>
  <% else %>
  <td colspan="2"></td>
<% end %>
<td class="extra"><h4><%= link_to dish.dish, dish %></h4></td>
<td><h4><%= dish.user.name %></h4></td>
</tr>
<% end %>
</tbody>
</table>
<% end %>
</body>
