/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

  .search{
  margin: 210px 5px 225px 5px;
  }

  .submit{
  margin: 10px 100px 30px 350px;
  }

  .find {
  	color: #fff ;
  	font-family: 'Baloo';
  	font-size: 40px;
  	font-weight: 400;
  	line-height: 72px;

    padding: 10px 5px 0px 140px;
  }

  .find2 {
    color: #fff;
    font-family: 'Baloo';
    font-size: 40px;
    font-weight: 400;
    line-height: 72px;

    padding: 10px 5px 0px 70px;
  }

  .find3 {
  	color: #1e3046;
  	font-family: 'Baloo';
  	font-size: 40px;
  	font-weight: 400;
  	line-height: 72px;

    padding: 50px 5px 0px 80px;
  }

.number{
  border-radius: 50%;
      width: 44px;
      height: 44px;
      padding: 14px 2px 0px 2px;
      background: #fff;
      text-align: center;
      font-family: 'Open Sans';
}
.number1{
  color: #CEF6CE;
  background-color: #088A08;
}

.number2{
      color: #088A08;
      background-color: #CEF6CE;
}
.number3{
      color: #61380B;
      background-color: #FF8000;
}
.number4{
      color: #2A0A12;
      background-color: #DF3A01;
}
.number5{
      color: #F5A9BC;
      background-color: #8A0829;
}





  .index{
   background: url("index1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

     font-family: 'Expletus Sans';
     color: #fff;

    font-size: 16px;

  }

  .search_css{
   background: url("index.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

     font-family: 'Expletus Sans';
     color: black;
    a{
    color: black;
    }
    a:hover {
    color: grey;
    text-decoration: none;
    }
    font-size: 16px;
    h4{color: black;}
    }

h2 small{
  color:black
}
  .new_dish_css{
   background: url("create_dish.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

     font-family: 'Expletus Sans';
     color: black;
    a{
    color: black;
    }
    a:hover {
    color: grey;
    text-decoration: none;
    }
    font-size: 16px;
    h4{color: black;}
    }

    .rate_dish_css{
     background: url("rate_dish.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;

       font-family: 'Expletus Sans';
       color: black;
      a{
      color: black;
      }
      a:hover {
      color: grey;
      text-decoration: none;
      }
      font-size: 16px;
      h4{color: black;}
      }

    .account{
     background: url("acc_1.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;

       font-family: 'Expletus Sans';
       color: black;
      a{
      color: black;
      }
      a:hover {
      color: grey;
      text-decoration: none;
      }
      font-size: 16px;
      h4{color: black;}
      }

      .dish_show{
       background: url("dish_page.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

         font-family: 'Expletus Sans';
         color: black;
        a{
        color: black;
        }
        a:hover {
        color: grey;
        text-decoration: none;
        }
        font-size: 16px;
        h4{color: black;}
        }

    .form_padd{
      padding-left: 200px;
    }

  td{

  font-family: 'Open Sans';
  color: #fff;
  font-size: 2em
  }
  .extra{
  padding-top: 8px;
  color: #fff;
}
a {
color: #fff;
}

a:hover {
    color: #fff;
}

  h5{
  font-weight: bold;
  margin-left: 18px;
  }

  h4{
  padding-top: 10px;
  font-weight: bold;
  }



.dis{
    position: absolute;
    left: 234px;
    top: 360px;
}

.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}

.white{
color: white;
  }

  #logo {
 	font-size: 36px;
 	font-weight: 700;
   a{
     color: #000066;
   }
   font-family: 'Amaranth';
 	//text-transform: uppercase;
 	letter-spacing: -1px;
 	padding: 15px 0;
   a:hover {
       color: grey;
       text-decoration: none;

   }
 }
 html,body{
    padding: 0;
    margin:0;
    width: 100%;
    height:100%;

    //background:url("../images/fairy_bread_cut.jpg");
  }

 .parallax{

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:inherit;

    position:relative;


 }



 #main_content {
 	#content {
 		float: none;
 	}
 	padding-bottom: 100px;
 	.link {
 		padding: 2em 1em;
 		border-bottom: 1px solid #e9e9e9;
 		.title {

 			a {
 				color: #FF4500;
 			}
 		}
 	}
 	.comments_title {
 		margin-top: 2em;
 	}
 	#comments {
 		.comment {
 			padding: 1em 0;
 			border-top: 1px solid #E9E9E9;
 			.lead {
 				margin-bottom: 0;
 			}
 		}
 	}
 }
